@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: droidserif;
    src: url(../fonts/DroidSerif-Italic.ttf);
}
body{
	margin: 0; 
	padding: 0;
}
.slider{
	height: 700px;
	background-image: url(../images/main-bg.jpg);
}
header{
	min-height: 100px;
}
.container{
	min-height: 10px;
	width: 970px;
	margin: 0 auto;
}
.logo{
	height: 80px;
	width: 200px;
	float: left;
}
.logo img{
	padding: 40px 0 0 0;
}
.menu{
	height: 50px;
	width: 50%;
	float: right;
	margin-top: 30px;
}
.menu ul li {
	list-style: none;
	float: left;
	margin-left: 10px;
}
.menu ul li a{
	color: #fff;
	text-decoration: none;
	font-family: montserrat;
}
#text-1{
	font-size: 35px;
	text-align: center;
	padding-top: 150px;
	color: #fff;
	font-style: italic;
	font-family: droidserif;
}
#text-2{
	font-size: 55px;
	text-align: center;
	text-transform: uppercase;
	color:  #fff;
	font-style: bold;
	font-family: Montserrat;
}
.button{
	background-color: #fed136;
	height: 65px;
	width: 240px;
	color: #fff;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding-top: 25px;
	box-sizing: border-box;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 62px;
	border-radius: 2px;
	border: 1px solid #fff;
	font-family: montserrat;
}
.button:hover {
	background-color: yellowgreen;
	transition: 0.8s;
}
.service-section{
	min-height: 600px;
}
.section-header{
	text-align: center;
	font-size: 30px;
	color: #222222;
	text-transform: uppercase;
	font-style: bold;
	padding-top: 50px;
	box-sizing: border-box;
	margin: 0;
}
.sh-tag{
	text-align: center;
	font-size: 15px;
	color: #777777;
	margin: 0;
	padding: 0;
	font-family: montserrat;
}
.team-box h2   {
	font-family: montserrat;
}
.team-box p   {
	font-family: montserrat;
}
.team-box ul{
	padding: 0;
	text-align: center;
}
.team-box ul{
	padding: 0;
	text-align: center;
}
.team-box ul li{
	margin: 0;
	text-align: center;
	list-style: none;
	display: inline-block;
}
.team-box ul li a{
	color: #222;
}
.team-box ul li a i{
	height: 40px;
	width: 40px;
	font-size: 20px;
	border: 3px solid #222;
	border-radius: 50%;
	box-sizing: border-box;
	padding-top: 7px;
	transition: 0.4s;
}
.team-box ul li a i:hover{
	color: red;
	background-color: yellow;
	border-color: yellowgreen;
}
.container-box{
	height: 200px;
	width: 33.3%;
	float: left;
	margin-top: 50px;
}
.elements{
	height: 180px;
	width: 96%;
	margin-top: 15px;
	margin-left: 7px;
	margin: 0;
}
.elements img{
	display: block;
	margin: 0 auto;
}
.elements h5{
	text-align: center;
	margin: 0 auto;
	color: #22222;
	font-size: 15px;
	margin-top: 10px;
}
.elements p{
	text-align: center;
	margin: 0 auto;
	color: #838383;
	margin-top: 10px;
	font-size: 12px;
}
.portfolio {
	height: 900px;
	background-color: #f5f5f5; 
	margin: -200px 0 0 0;
}
.portfolio-box,.team-box{
	height: 300px;
	width: 30%;
	margin: 50px 0 0 0;
	float: left;
}
.portfolio-box:last-child,.team-box:last-child{
	float: right;
}
.portfolio-box:nth-child(2),.team-box:nth-child(2){
	margin-left: 5%;
	margin-right: 5%;
}
.portfolio-image{
	height: 80%;
	width: 100%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.portfolio-image img{
	height: 100%;
	width: 100%;
}
.portfolio-overlay{
	height: 100%;
	width:100%;
	background-color: black;
	position: absolute;
	top: -100%;
	left: 0;
	opacity: 0.5;
	transition: 0.5s;
}
.portfolio-image:hover .portfolio-overlay {
	top: 0;
}
.pi-tag,.ti-tag{
	margin: 0 auto;
	text-align: center;
	color: #333333;
	font-size: 20px;
	margin-top: 10px;
}
.pi-text,.ti-text{
	margin: 0 auto;
	text-align: center;
	font-size: 15px;
	color: #bcbcbc;
}
.team{
	min-height: 550px;
	background-color: #e6e6fa;
}
.team-image{
	height: 60%;
	width: 60%;
	margin: 0 auto;
	border-radius: 50%;
}
.team-image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	overflow: hidden;
	border: 0.5px solid grey;
	opacity: 0.5;
	transition: 0.7s;
}
.team-image img:hover {
	opacity: 1;
}

.contact{
	min-height: 600px;
	width: 100%;
	background-image: url(../images/bg.jpg);
	position: relative;
}
.contact img {
	top: 100px;
	right: 0px;
	position: absolute;
}
.section-header1{
	text-align: center;
	font-size: 30px;
	color: #d5d1d1;;
	text-transform: uppercase;
	font-style: bold;
	padding-top: 50px;
	box-sizing: border-box;
	margin: 0;
}
.contact-left{
	height: 250px;
	width: 50%;
	float: left;
	margin: 60px 0;
}
.contact-right{
	height: 250px;
	width: 50%;
	float: left;
	margin: 60px 0;
}
input[type="text"], input[type="email"]{
	height: 50px;
	width: 95%;
	border-radius: 5px;
	font-size: 26px;
	color: #bbb;
	padding: 0 10px;
	margin: 10px 0;
	box-sizing: border-box;
}
textarea{
	width: 95%;
	height: 190px;
	border-radius: 5px;
	font-size: 22px;
	color: #bbb;
	padding: 10px;
	margin: 10px 0;
	box-sizing: border-box;
	float: right;
}
input[type="submit"]{
	height: 60px;
	width: 240px;
	background-color: #fed136;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	border:none;
	transition: 0.5s;
	font-family: montserrat;
}
input[type="submit"]:hover{
	background-color: grey;
}